.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-rhino-dark);
  height: 70px;
  color: var(--bg-gumbo);
  padding: 10px;
}

.header > * {
  text-shadow: 0 0 3px var(--bg-gumbo);
}

.header .header_heading {
  font-size: 25px;
}

.header .material-icons {
  cursor: pointer;
  font-size: 30px;
}

.header_input input {
  width: 100%;
  height: 50px;
  border: 5px solid var(--bg-rhino-dark);
  font-size: 20px;
  padding: 10px;
}
